<!DOCTYPE html>
<html lang="ja">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- SEOメタタグ -->
    <meta name="description"
      content="{% block meta_description %}
        EasyPyToolsはシンプルで使いやすい便利ツールを提供します。
      {% endblock %}" />
    <meta name="keywords"
      content="{% block meta_keywords %}
        EasyPyTools, ブログ, ツール, マークダウン, 学習カード
      {% endblock %}" />
    <meta name="author" content="ShamNeko88" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graphメタタグ -->
    <meta property="og:title"
      content="{% block og_title %}
        EasyPyTools
      {% endblock %}" />
    <meta property="og:description"
      content="{% block og_description %}
        EasyPyToolsはシンプルで使いやすい便利ツールを提供します。
      {% endblock %}" />
    <meta property="og:type"
      content="{% block og_type %}
        website
      {% endblock %}" />
    <meta property="og:url"
      content="{% block og_url %}
        {{ request.scheme }}://{{ request.get_host }}{{ request.path }}
      {% endblock %}" />

    <!-- Twitterカードメタタグ -->
    <meta name="twitter:card"
      content="{% block twitter_card %}
        summary_large_image
      {% endblock %}" />
    <meta name="twitter:title"
      content="{% block twitter_title %}
        EasyPyTools
      {% endblock %}" />
    <meta name="twitter:description"
      content="{% block twitter_description %}
        EasyPyToolsはシンプルで使いやすい便利ツールを提供します。
      {% endblock %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <!-- カスタムCSS -->
    {% block extra_css %}

    {% endblock %}
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <meta name="google-site-verification" content="4R5mJ831nM01BF4RcxVG2v_tLaKzs5UmLoYzKlziUPc" />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-info">
      <!-- ハンバーガーメニューのトグルボタン -->
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <!-- ホームボタン -->
      <a class="navbar-brand nav-link font-weight-bold border border-primary rounded p-2 bg-light" href="{% url 'index' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
        </svg>
        <span class="sr-only">(current)</span>
      </a>
      <!-- 折りたたみ可能なメインメニュー -->
      <div class="collapse navbar-collapse order-2" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <!-- ツールメニュー -->
            <a class="nav-link text-white dropdown-toggle mr-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ツール<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wrench" viewBox="0 0 16 16">
                <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z" />
              </svg>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'blog-index' %}">EasyMdBlog</a>
              <a class="dropdown-item" href="{% url 'survey-index' %}">EasyServey</a>
              <a class="dropdown-item disabled" href="#">EasyTaskManager</a>
              <a class="dropdown-item disabled" href="#">EasyLearningCard</a>
              <a class="dropdown-item disabled" href="{% url 'memo-index' %}">EasyLiveMemo</a>
            </div>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <div class="dropdown d-inline-block">
                <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ログイン中： {{ user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                  {% if user.is_staff %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}">管理サイト</a>
                    <div class="dropdown-divider"></div>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'password_change' %}">パスワード変更</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">ログアウト</a>
                </div>
              </div>
            {% else %}
              <div class="d-inline-block">
                <a class="nav-link text-white d-inline-block mr-2" href="{% url 'login' %}">ログイン</a>
                <a class="nav-link text-white d-inline-block" href="{% url 'register' %}">新規登録</a>
              </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}

    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% block extra_js %}
      <script src="{% static 'js/survey.js' %}"></script>
    {% endblock %}
  </body>
</html>
