{% extends 'EasySurvey/survey-base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/survey.css' %}" />
{% endblock %}

{% block title %}
  EasySurvey
{% endblock %}

{% block survey_main %}
  <div class="container">
    <h2 class="mb-3">アンケート作成</h2>
    <hr />
    <form id="survey-form" method="post" action="{% url 'survey-index' %}">
      {% csrf_token %}
      <div class="text-right">
        <button type="submit" id="submit-survey-btn" class="btn btn-success">下記内容で作成</button>
      </div>
      <!-- タイトルフォーム -->
      <div class="form-group">
        <label for="title">タイトル</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="タイトルを入力" required />
      </div>
      <!-- 備考フォーム -->
      <div class="form-group">
        <label for="notes">備考</label>
        <textarea class="form-control" id="notes" name="notes" rows="3" placeholder="備考を入力"></textarea>
      </div>
      <!-- 質問内容フォーム -->
      <div id="questions-container">
        <hr/>
        <label>質問内容</label>
        <p id="checkbox-description">回答時に"〇", "△", "×"の選択肢を非表示にする場合はチェックをはずしてください</p>
        <div class="form-group">
          <div class="d-flex align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="show_choices1" name="show_choices[]" value="1" checked>
              <label class="form-check-label text-nowrap" for="show_choices1"></label>
            </div>
            <input type="text" class="form-control mr-2" id="question1" name="questions[]" placeholder="質問を入力" required/>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <button type="button" id="add-question-btn" class="btn btn-secondary">＋ 質問を追加</button>
      </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/survey.js' %}"></script>
{% endblock %}
