{% extends 'EasySurvey/survey-base.html' %}
{% load static %}

{% block title %}
  アンケート編集
{% endblock %}

{% block survey_main %}
  <div class="container mt-4">
    <h2 class="mb-3">アンケート編集</h2>
    <hr />
    <form method="post">
      {% csrf_token %}
      <label for="title">タイトル</label>
      <textarea class="form-control" id="title" name="title" rows="1" placeholder="タイトルを入力">{{ survey_form.instance.title }}</textarea>
      <label for="detail" class="mt-2">備考</label>
      <textarea class="form-control" id="detail" name="detail" rows="3" placeholder="備考を入力">{{ survey_form.instance.detail }}</textarea>
      <h3 class="mt-2">設問</h3>
      {{ question_formset.management_form }}
      <div class="form-group">
        {% for form in question_formset %}
          <div class="mb-3">
            {{form.as_p}}
            {% comment %} <textarea class="form-control" id="{{ form.question.id_for_label }}" name="{{ form.question.html_name }}" rows="1">{{ form.question.value }}</textarea> {% endcomment %}
          </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">保存</button>
      <a href="{% url 'survey-list' %}" class="btn btn-secondary">キャンセル</a>
    </form>
  </div>
{% endblock %}
