<!-- filepath: c:\Users\bigfo\Desktop\mydev\Python\EasyPyTools\EasySurvey\templates\EasySurvey\survey-index.html -->
{% extends 'TopPage/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/survey.css' %}" />
{% endblock %}

{% block title %}
  EasySurvey
{% endblock %}

{% block content %}
  <div class="container">
    <form id="survey-form">
      <div class="text-right">
        <button type="button" class="btn btn-primary">下記内容で作成</button>
      </div>
      <!-- タイトルフォーム -->
      <div class="form-group">
        <label for="title">タイトル</label>
        <input type="text" class="form-control" id="title" placeholder="タイトルを入力" required />
      </div>
      <!-- 備考フォーム -->
      <div class="form-group">
        <label for="notes">備考</label>
        <textarea class="form-control" id="notes" rows="3" placeholder="備考を入力"></textarea>
      </div>
      <!-- 質問内容フォーム -->
      <div id="questions-container">
        <label>質問内容</label>
        <div class="form-group">
          <input type="text" class="form-control" id="question1" name="questions[]" placeholder="質問を入力" />
        </div>
      </div>
      <div class="form-group text-center">
        <button type="button" id="add-question-btn" class="btn btn-secondary">＋ 質問を追加</button>
      </div>
      <!-- 回答者を事前に選択するフォーム -->
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="respondent">回答者指定</label>
          </div>
          <div class="col-4"></div>
          <div class="col">回答者一覧</div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" id="respondent" placeholder="日本 太郎" />
          </div>
          <dev class="col-4">
            <button type="button" id="add-question-btn" class="btn btn-secondary">＋ 回答者を追加</button>
          </dev>
          <div class="col">・・・</div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/survey.js' %}"></script>
{% endblock %}
