/* 画面全体のスタイル */
body {
    background-color: #ffffff; /* 背景色 */
    color: rgb(0, 0, 0); /* テキスト色 */
}

/* 本体のスタイル */
.container {
    background-color: #f8f9fa; /* コンテナの背景色 */
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}


h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}