{% extends 'EasyMdBlog/blog-base.html' %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
{% endblock %}
{% block title %}
  EasyMdBlog
{% endblock %}

{% block blog_main %}
  <div class="container mt-4 shadow rounded p-2 bg-light">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2>ブログ記事一覧</h2>
      <form class="form-inline my-1 my-lg-0 ml-auto" method="get" action="{% url 'blog-index' %}">
        <input class="form-control form-control-sm" type="search" name="q" placeholder="ブログを検索" aria-label="Search" value="{{ request.GET.q|default:'' }}" />
      </form>
    </div>
    {% for post in posts %}
      <div class="card mb-3">
        <div class="card-body">
          <a href="{% url 'post-detail' post.pk %}" class="card-title">{{ post.title }}</a>
          <p class="card-text">
            <small class="text-muted">投稿者: {{ post.user.username }} 投稿日: {{ post.created_at|date:'Y/m/d' }}</small>
          </p>
        </div>
      </div>
    {% empty %}
      <p>まだ投稿がありません。</p>
    {% endfor %}
  </div>
{% endblock %}
