{% extends 'EasyMdBlog/blog-base.html' %}
{% load static %}

<!-- タイトル -->
{% block title %}
  {{ object.title }}
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.1.3/marked.min.js"></script> <!-- marked.jsの追加 -->
  <script src="{% static 'js/blog.js' %}"></script> <!-- 外部JavaScriptファイルの追加 -->
{% endblock %}

{% block blog_main %}
  <div class="container mt-4 shadow rounded">
    <div class="row">
      <div class="col-12">
        <article class="blog-post">
          <header class="mb-4 mt-2">
            <h2>{{ object.title }}</h2>
            <div class="text-muted border-bottom pb-2">
              <small>
                作成者:{{ object.user.username }} | 投稿日: {{ object.created_at|date:'Y年m月d日' }}
                {% if object.updated_at != object.created_at %}
                  | 更新日: {{ object.updated_at|date:'Y年m月d日' }}
                {% endif %}
              </small>
            </div>
          </header>
          <div class="blog-content markdown-body mb-4" id="content-preview" data-content="{{ object.content}}"></div>
        </article>
      </div>
    </div>
  </div>
{% endblock %}